.HeaderInfo {
    display: block;
    background-image: url('../../assets/images/cover.png');
    border: 1px solid white;
    margin: -3.5% -5% 2%;
    color: white;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
    padding-top: 12%;
    height: 550px;
}

.ant-carousel .slick-slide {
    text-align: center;
    overflow: hidden;
}
.ant-carousel .slick-slide h1 {
    color: #fff;
    font-size: 32pt;
    font-weight: 100;
}
.ant-carousel .slick-list {
    height: 70%;
}

.NavigationLinks .NavigationLink {
    display: inline-table;
    width: 33.3%;
    height: 300px;
    text-align: center;
    font-size: 18pt;
    padding: 55px 45px;
}

.NavigationLinks .anticon {
    display: block;
    font-size: 40px;
    margin-bottom: 12px;
}

.NavigationLinks a,
.NavigationLinks a:active {
    color: #151444;
    text-decoration: none;
}

.NavigationLinks a:hover {
    color: #40A4C8;
    text-decoration: none;
}

.NavigationLink .Description {
    font-size: 16px;
    display: block;
}
