.ViewProfile {
    margin-top: 1rem;
}

.ViewProfile .Name {
    font-size: 18px; 
}
.ViewProfile .Info {
    margin-top: 2rem;
    margin-left: 20%;
    font-size: 16px;
}

.ViewProfile div {
    margin-bottom: 1rem;
}

.ViewProfile .Info label {
    font-weight: bold;
}