.ProfilePicture {
    display: inline-block;
    width: auto;
    height: 600px;
    box-shadow: 0 0 0.4rem 0 #ccc;
    position: relative;
    overflow: hidden;
    float: left;
}

.Small {
    width: 150px;
    height: 150px;
}

.ProfilePicture img {
    height: 100%;
    width: auto;
}
