.ContentContainer { 
	margin: 0; 
	overflow: initial; 
	height: 100vh; 
}
.ContentContainer .Content { 
	padding: 24px; 
	background: #fff; 
	text-align: center; 
	height: 90%; 
	overflow: auto; 
}

.Sidebar { 
	overflow: auto;
	max-width: 350px!important;
	min-width: 350px!important;
    width: 350px!important;
	height: 100vh; 
	position: fixed;
	left: 0;
	z-index: 100;
}

.LayoutWithSidebar {
	margin-left: 350px;
}

.Header {
	color: #fff;
	padding: 15px 0 0 0; 
	font-size: 20px; 
	line-height: unset;
	display: inline-flex;
}
.Header .Logo {
	margin-top: -15px;
    padding-left: 15px;
}

.HorizontalMenu {
	position: absolute;
    right: 20px;
    top: 8px;
	margin-right: 20px;
}
.HorizontalMenu ul,
.HorizontalMenu .anticon {
	font-size: 20px;
	font-weight: 300;
}

.Footer { 
	text-align: center;
	position: fixed; 
	padding-right: 0;
	bottom: 0; 
	width: 100%; 
}
.Footer.FooterInSideBar {
	padding-right: 30%;
}
