.Profiles .Profile {
    margin: 10px;
    display: inline-block;
    overflow: hidden;
}
.Profile img {
    height: 300px;
}

.Profile .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 4px;
}

.InfoSection {
    border-top: 1px solid #ccc;
    margin-bottom: 2px;
}

.Profile .ant-card-body {
    padding-top: 12px;
}
.Profile .Description {
    display: inline-grid;
    font-size: 12px;
}

.Description .ant-rate {
    font-size: 12px;
    display: block;
}