.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #40A4C8;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}

.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
.ant-form-horizontal {
    padding-right: 30%;
}

.react-tel-input {
    display: flex;
}

.react-tel-input .form-control {
    width: 100%!important;
    height: 32px!important;
    transition: all .3s;
}

.react-tel-input:hover {
    border: 1px solid #1890ff; 
    border-radius: 5px;
}

.react-tel-input .form-control:hover {
    border: none;
}

.ant-form-item-control:last-child {
    text-align: left;
}