.FullWidth {
    width: 100%;
}

.Input textarea {
    height: 150px;
}

.hidden {
    display: none;
}

.AutoSuggestContainer {
    padding: 0;
    border: 0;
    border-radius: 5px;
}

.AutoSuggestContainer > div:first-child {
    width: 100%!important;
}
