.Posts {
    text-align: center;
    padding: 2% 10%;
}
.Filters .ant-select {
    width: 70%;
}

.Posts .ant-tag-checkable:not(.ant-tag-checkable-checked) {
    color: #1890ff;
    background: #e6f7ff;
    border-color: #91d5ff;
}

.Posts .ProfilePicture img {
    max-width: 474px; 
}
